@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,500&display=swap');

body {
  margin: 0;
  background-color: rgba(245, 235, 239, 0.5);
}

code {
  font-family: 'Poppins', sans-serif;
}
